{{define "title"}}Home{{end}}

{{define "main"}}
    <center>
      <div style="font-size: x-large;">
        <form action="/completions">
          <label style="text-align: right;">Enter a Player ID:</label>
          <input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid var(--text-color);" type="number" id="playerid" name="playerid">
          <input class="button" type="submit" value="Go">
        </form>
        </div>
        <div>
        {{ if .RecentPlayers.Players }}
        Recently viewed:
        {{ range .RecentPlayers.Players }}
        <div>
        <a href="/player?playerid={{ .PlayerID }}"> {{ .Name }} <small>({{ .PlayerID }})</small></a>
        </div>
        {{ end }}
        </div>
        {{ end }}
        <small>Don't know your Player ID? <a href="/player/search"> Search using your name or Steam ID </a></small>
    </center>
{{end}}
