{{define "title"}}Home{{end}}

{{define "main"}}
    <center>
      <h1>
        Player completion stats    
      </h1>
        <h3>
        <form action="/completions">
          <div style="display: grid; grid-template-columns: max-content max-content; grid-gap: 5px;">
          <label style="text-align: right;">Enter your Player ID:</label>
          <input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid #330746" type="number" id="playerid" name="playerid"><br>
          <input type="submit" value="Submit">
          </div>
        </form> 
        </h3>
        <h3>
        <form action="/search/player">
          <div style="display: grid; grid-template-columns: max-content max-content; grid-gap: 5px;">
          <label style="text-align: right;">Enter your player name:</label>
          <input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid #330746" type="number" id="name" name="name"><br>
          <input type="submit" value="Submit">
          </div>
        </form> 
        </h3>
    </center>
{{end}} 
